<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center;">Welcome to <%= title %> page</h1>
    <p id="welcomeText" style="font-family: 'Courier New', Courier, monospace; font-size: x-large; text-align: center;">Welcome to my page.</p>
    
    </div>
    <img src="/img/homeImage.jpg" alt="homeImage" style="width: 500px; height: 750px; display: block; margin-left: auto; margin-right: auto;">
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
