<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center;">Welcome to <%= title %> page</h1>
    <div id="firstProject">
      <h2 class="projectTitle">Project 1: </h2>
      <p class="description">
       
        Design a student webpage using HTML/CSS, incldes introduction, personal photos and project list.
      </p>
      <img class="projectPhoto" src="img/project1.png">

    </div>
    <div id="secondProject">
      <h2 class="projectTitle">Project 2: </h2>
      <p class="description">
       
        Implement a simple Bug Smasher browser-based (HTML5 canvas) game
      </p>
      <img class="projectPhoto" src="img/project2.png">

    </div>

    <div id="thirdProject">
      <h2 class="projectTitle">Project 3: </h2>
      <p class="description">
       
        Implement a simple Bug Smasher browser-based (HTML5 canvas) game
      </p>
      <img class="projectPhoto" src="img/project3.png">

    </div>
    <div id="fourthProject">
      <h2 class="projectTitle">Project 4: </h2>
      <p class="description">
       
        Implement a simple Bug Smasher browser-based (HTML5 canvas) game
      </p>
      <img class="projectPhoto" src="img/project4.png">

    </div>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
